extends ../layouts/default.pug 

block main 
  main.main
    .section-10
      img.inner-image(src="/admin/assets/images/error-404.svg")
      h1.inner-title Trang này không tồn tại...
      a.inner-back(href=`/${pathAdmin}/dashboard`) Trở về trang tổng quan