extends ../layouts/account.pug

block main 
  .page-account
    .form-account
      h2.inner-title Quên mật khẩu
      p.inner-desc Vui lòng nhập email để tiếp tục
      form#forgot-password-form.inner-form
        .inner-group
          label.inner-label(for="email") Email
          input#email.inner-control(
            placeholder="Ví dụ: levana@gmail.com" 
            name="email" 
            type="email"
            )
        button.inner-button Gửi mã OTP
      .inner-more
        span Bạn đã nhớ mật khẩu?
        a(href=`/${pathAdmin}/account/login`) Đăng nhập