extends ../layouts/default.pug

block main 
  main.main
    h1.box-title Đổi mật khẩu
    .section-8
      form#profile-change-password-form
        .inner-group
          label.inner-label(for="password") Mật khẩu mới
          input#password(
            name="password" 
            type="password"
            )
        .inner-group
          label.inner-label(for="confirmPassword") Nhập lại mật khẩu mới
          input#confirmPassword(
            name="confirmPassword" 
            type="password"
            )
        .inner-button.inner-two-col
          button Đổi mật khẩu