nav.sider
  ul.inner-menu
    li
      a.active(href="#")
        i.fa-solid.fa-gauge-high
        | Tổng quan
    li
      a(href="#")
        i.fa-solid.fa-table-cells-large
        | Quản lý danh mục
    li
      a(href="#")
        i.fa-solid.fa-table-list
        | Quản lý tour
    li
      a(href="#")
        i.fa-solid.fa-list-check
        | Quản lý đơn hàng
    li
      a(href="#")
        i.fa-solid.fa-user
        | Quản lý người dùng
    li
      a(href="#")
        i.fa-solid.fa-user-group
        | Thông tin liên hệ
  hr
  ul.inner-menu
    li
      a(href="#")
        i.fa-solid.fa-gear
        | Cài đặt chung
    li
      a(href="#")
        i.fa-solid.fa-user-gear
        | Thông tin cá nhân
    li
      a.inner-logout(href="#")
        i.fa-solid.fa-power-off
        | Đăng xuất